TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_WEBHOOK_SECRET=super-secret-string
TELEGRAM_EXPORT_PATH=/app/old/result.json
TELEGRAM_CHANNEL=@your_channel
TELEGRAM_CHANNEL_SLUG=your_channel
SITE_URL=https://your-domain.com
SITE_NAME=Roman Blog
GOOGLE_SITE_VERIFICATION=
YANDEX_VERIFICATION=
